html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 76px; // 56
}


@include media-breakpoint-down(md) {

  .offcanvas-collapse {
    position: fixed;
    top: 48px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
    transition-property: left, visibility;
  }
  
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}
