
@include media-breakpoint-up(sm) {

  .navbar.is-hidden {
    position: fixed;
    top: -3.5rem;
    transition: top 0.75s;
  }

  .navbar.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    top: 0;
    transition: top 0.75s;
  }
}